<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container-fluid">
    <div class="sidebar portfolio">
        <div class="portfolio__left">
            <img th:src="${portfolio.imageUrl}" th:alt="${portfolio.title}" class="portfolio__picture">
            <div class="portfolio__tweets">
                <h4 th:text="${portfolio.twitterUserName} + ' Timeline'"></h4>
                <div th:each="tweet: ${tweets}" class="portfolio__tweet">
                    <img th:src="${tweet.profileImageUrl}">
                    <p th:text="${tweet.text}"></p>
                </div>
            </div>

        </div>
        <div class="portfolio__right">
            <h2 th:text="${portfolio.title}"></h2>
            <div class="portfolio__description">
                <h4> My Work Experience</h4>
                <p th:text="${portfolio.description}"></p>
            </div>
        </div>
        <!-- <a class="twitter-timeline" data-tweet-limit="5" th:href="'https://twitter.com/' + ${portfolio.twitterUserName}"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
    </div>

</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>